$primary-color: rgb(29, 39, 55);
$secondary-color:rgb(142 130 109);
$primary-text-color : rgb(255, 255, 255);
$secondary-text-color : rgb(0, 0, 0);
$standard-font-size: 20px;
$standard-font:helvetica;
